/**
| Standard Slider Module CSS
*/
.standard-slider {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0 30px;
    cursor: pointer;
    float: left;
    position: relative;
    clear: both;
}
.standard-slider[disabled="true"]{
    opacity: .6;
    background: none;
    cursor: default;
}
.standard-slider .fill-lower{
    background: #e9e9e9;
    position: absolute;
}
.standard-slider .rail{
    margin: 2px;
    background-color: #fff;
    border: 1px solid #818181;
    position: relative;
    height: 5px;
    border-radius: 3px;
}
.standard-slider .thumb{
    border: 1px solid #818181;
    background: #f6f6f6;
    border-radius: 3px;
    position: relative;
}
.standard-slider .values{
    position: absolute;
    font-size: 1rem;
    color: #333333;
}
.standard-slider .value-min{
    left: 0;
    top: -5px;
}
.standard-slider .value-max{
    right: 0;
    top: -5px;
}
.standard-slider .value{
    text-align: center;
    display: block;
    position: absolute;
}
.standard-slider .value::before,
.standard-slider .value::after{
    content: "";
    display: block;
    position: absolute;
}
.standard-slider.horizontal{
    margin-top: 10px;
    margin-bottom: 30px;
}
.standard-slider.horizontal .value{
    top: 1.5rem;
}
.standard-slider.horizontal .value::before{
    left: -30px;
    top: 0;
}
.standard-slider.horizontal .value::after{
    right: -30px;
    top: 0;
}
.standard-slider.vertical{
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.standard-slider.vertical .value{
    right: -30px;
}
.standard-slider.vertical .value::before{
    bottom: -20px;
}
.standard-slider.vertical .value::after{
    top: -20px;
}
.standard-slider.vertical .value{
    text-align: center;
    width: auto;
}
.standard-slider.vertical .value-min{
    bottom: 0;
}
.standard-slider.vertical .value-max{
    top: -5px;
    left: 0;
}
.standard-slider.vertical .rail{
    margin: 2px;
    padding: 1px;
    width: 5px;
}
.standard-slider.horizontal .fill-lower{
    left: 0;
    top: 0;
    height: 100%;
}
.standard-slider.vertical .fill-lower{
    bottom: 0;
    width: 100%;
    left: 0;
}
.standard-slider .slider-acc-controls{
    margin-top: -10px;
    margin-bottom: 15px;
}
.standard-slider .slider-input-value::-webkit-outer-spin-button,
.standard-slider .slider-input-value::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.standard-slider .slider-input-value{
    margin-right: 0;
    -moz-appearance: textfield;
}

@media (max-width: 567px) {
    .standard-slider.horizontal{
        margin-top: 20px;
    }
}