.sf-base {
	font-family: TC-regular,Helvetica,Arial,Verdana,sans-serif;
}
.sf-base .sf-amount,.sf-base .sf-amount *,.sf-base .sf-number,.sf-base .sf-number * {
    font-family: TC-Regular;
}

.sf-base input[type=text],.sf-base input[type=password],.sf-base input[type=datetime],.sf-base input[type=datetime-local],.sf-base input[type=date],.sf-base input[type=month],.sf-base input[type=time],.sf-base input[type=week],.sf-base input[type=number],.sf-base input[type=email],.sf-base input[type=url],.sf-base input[type=search],.sf-base input[type=tel],.sf-base input[type=color],.sf-base textarea {
	font-family: TC-Regular;
}
.sf-base .sf-calendar-year-view .sf-calendar-cell-mark>span {
    font-family: TC-regular;
}

.sf-base .sf-transactions-calendar .sf-transactions-calendar-year-item-view {
	font-family: TC-regular;
}

.sf-base .sf-widget {
	margin:auto;
}

.sf-base .sf-calendar .sf-calendar-title {
	font-family: TC-regular;
    color: #316da2;
    font-size: 1.2em;
    padding: 0.5em 0 1em;
}

.sf-intro-message {
	float:none !important;
	text-align:center;
}

.sf-base .sf-analysis-donutchart .sf-donutchart .sf-chart-subtitle {
	font-family:Arial;
}

.sf-base .sf-datagrid td.sf-numeric {
	font-family:Arial;
}

.sf-base .sf-widget.sf-analysis-overview-widget .sf-charts-placeholder .sf-accessible-chart-controls {
    padding-top: 1em;
}

.sf-base .sf-button {
	background-color: #0c4374;
}

.sf-button.sf-active {
	    background-color: #0c4374;
}

.sf-base .sf-widget .sf-widget-footer {
	text-align:center;
    clear: both;
    margin-top: 2em;
    margin-bottom: 0em;
}

.ext-count-bubble {
	background-color: #0c4374;
    padding: 7px 4px;
    border-radius: 180px;
	color:#fff;
}

.ext-count-bubble-small {
    background-color: #0c4374;
    padding: 5px 3px;
    border-radius: 180px;
    color: #fff;
    font-size: 12px;
}
.ext-pfm-heading-center{
    padding: 12px;
}

.sf-base .sf-savings-goals-content .sf-goal-info .sf-goal-status-message {
    bottom: -11px;
}

.sf-base .sf-button {
	font-family:Arial;
}

.sf-base .sf-button:hover {
    color: #fff;
    background-color: #316da2;
}

*[id*='overview-widget'] .sf-widget-content-placeholder {
	padding:0 !important;
}

*[id*='overview-widget'] .sf-base .sf-savings-overview-content .sf-goal-bar {
    margin-top: 2em;
}

*[id*='overview-widget'] .sf-base .sf-savings-overview-content .sf-progressbar .sf-progressbar-bar .sf-bar-box .sf-bar-title {
    top: -1.2em;
}

*[id*='overview-widget'] .sf-base .sf-widget .sf-widget-footer {
    margin-top: 1em;
}
*[id*='overview-widget'] .sf-base .sf-widget .sf-widget-content-placeholder {
	min-height:50px;
}

*[id*='overview-widget'] h2 {
    padding: 0.5rem 0 0 0;
}

.sf-base .sf-widget.sf-calendar-overview-widget .sf-calendar-month-view .sf-calendar-cell-content {
    z-index: 29;
}

.sf-base .sf-widget.sf-calendar-overview-widget .sf-calendar-month-view .sf-calendar-cell-mark {
    z-index: 29;
}