TC{
	temenos.security.crypto.content1="db6KH/oDR4xPl0lOigf+Ww=="
	temenos.security.crypto.content2="WgY8TjpMMFwwc7oLIng7YQ=="
	temenos.security.crypto.content3="BQ0LviQFlSuHZSVSOzMxNw=="
	temenos.security.crypto.content4="hpMj9sEeZrs5rMe0PA6lVQ=="
	temenos.security.crypto.content5=""
	temenos.security.crypto.content6=""
	temenos.security.crypto.keystore.password="TCstorepass" 
	temenos.security.crypto.keystore="D:\\TCIB\\TC.jceks"
   	temenos.security.crypto.key.password="TCkeypass" 
	temenos.security.crypto.key.alias="TCkey"
	temenos.security.crypto.class="com.temenos.security.crypto.AESCryptoService"
;
};