.accordion {
    border: 1px solid #cccccc;
    border-radius: .3em;
    box-shadow: 0 1px 2px #cccccc;
}

.accordion > * + * {
    border-top: 1px solid #cccccc;
}
.accordion-panel fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.accordion-trigger {
    background: none;
    border: 0;
    color: #333333;
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0.5em 1em;
    position: relative;
    text-align: left;
	width: 100%;
	cursor: pointer;
}

.accordion dt:first-child .accordion-trigger {
    border-radius: .3em .3em 0 0;
}

.accordion-trigger:focus,
.accordion-trigger:hover {
    background: #dedede;
}

.accordion-title {
  display: block; /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8295099/ */
  pointer-events: none;
}

.accordion-icon {
    border: solid hsl(0, 0%, 62%);
    border-width: 0 2px 2px 0;
    height: .5rem;
    pointer-events: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: .5rem;
}

.accordion-trigger:focus .accordion-icon,
.accordion-trigger:hover .accordion-icon {
    border-color: #333333;
}

.accordion-trigger[aria-expanded="true"] .accordion-icon {
    transform: translateY(-50%) rotate(-135deg);
}

.accordion-panel {
    margin: 0;
    padding: 0.5em 1em;
    transition: max-height .5s;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.accordion-panel[hidden] {
    display: none;
}
.accordion-panel.animate[hidden]{
    display: none;
}