<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
		 version="2.4">
    <!-- <display-name>The application name</display-name> -->
	<servlet>
		<servlet-name>servletcontroller</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.ServletController</servlet-class>
		<init-param>
			<param-name>prefixPublishablePhase</param-name>
			<param-value>page</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ajaxservletcontroller</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.AjaxServletController</servlet-class>
		<init-param>
			<param-name>prefixPublishablePhase</param-name>
			<param-value>page</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>helpservletcontroller</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.HelpServletController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>spellcheck_entry</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.spellcheck_entry</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>spellcheck_results</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.spellcheck_results</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SOAPController</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.webservice.SOAPController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>chartservletcontroller</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.ChartServletController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>portletservletcontroller</servlet-name>
		<servlet-class>com.acquire.intelligentforms.presentation.PortletServletController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletcontroller</servlet-name>
		<url-pattern>/servletcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servletcontroller</servlet-name>
		<url-pattern>/page/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>ajaxservletcontroller</servlet-name>
		<url-pattern>/ajaxservletcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>helpservletcontroller</servlet-name>
		<url-pattern>/helpservletcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spellcheck_entry</servlet-name>
		<url-pattern>/spellcheck_entry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spellcheck_results</servlet-name>
		<url-pattern>/spellcheck_results</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SOAPController</servlet-name>
		<url-pattern>/SOAPController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>chartservletcontroller</servlet-name>
		<url-pattern>/chartServletController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>portletservletcontroller</servlet-name>
		<url-pattern>/portletServletController</url-pattern>
	</servlet-mapping>

	<filter>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	</filter-mapping>

</web-app>
