<!-- THIS FILE IS USED WHEN WE NEED AN IFRAME INTEGRATION WITH BRANDING ELEMENTS. NEED TO CHANGE IT IN SPPiframe.tpl -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Security-Policy" content="default-src * gap:; script-src 'self' 'unsafe-inline' 'unsafe-eval' data: https://ssl.gstatic.com 'unsafe-eval'; object-src *; style-src 'self' data: 'unsafe-inline'; img-src * data:; media-src 'self' data:; font-src 'self' data:; connect-src *"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title></title>
</head>
<body>
<div><p style="text-align:center;">	<img src="images/brand/logo_fr.png" alt="LOGO" style="max-width: 100%; height: auto;"></p></div>
	--------ALL CLIENT SPECIFIC ELEMENTS GO HERE--------
<div>
<iframe id="orelyIframe" src="startLuxTrustAuth.html" width="100%" frameborder="0">
</iframe>
</div>
</body>
</html>
